/* Declarando as Variáveis CSS no elemento raiz (HTML) */
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
  margin: 0;
  padding: 50px 0;
}

.controls {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

input {
  width: 100px;
}

/* Aplicando as variáveis na imagem */
img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-width: 800px;
  width: 100%;
}

/* Aplicando a variável de cor no texto em destaque */
.hl {
  color: var(--base);
}
